.comment {
    background: linear-gradient(#f6f7f8, #f6f7f8);
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    & > img:first-child {
        width: 30px;
        margin-bottom: 48px;
    }
    & > p {
        max-width: 700px;
        color: #1240a7;
        font-size: 18px;
        font-weight: 600;
        margin: auto;
        margin-bottom: 48px;
        @include maxWidth($lg){
            font-size: 16px;
        }
    }
    img.author {
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: 50% 100%;
        border-radius: 50%;
        margin-bottom: 16px;
    }
    &>h5{
        color: $blue-1;
        font-size: 14px;
        margin-bottom: 16px;
    }
    @include maxWidth($lg){
        padding-top: 50px;
        padding-bottom: 50px;
        @include container-lg;
    }
    @include maxWidth($lg){
        @include container-lg;
    }
}
