.follow {
    padding-bottom: 90px;
    background: linear-gradient(#f6f7f8, #f6f7f8);
    &-title {
        text-align: center;
        margin-bottom: 40px;
        & > h5 {
            font-size: 14px;
            color: $blue-1;
        }
        & > h2 {
            font-size: 40px;
            color: $blue-2;
            @include maxWidth($sm) {
                font-size: 30px;
            }
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -15px;
        img {
            width: 100%;
            padding: 0 15px;
            border-radius: 8px;
            @include maxWidth($sm) {
                padding: 15px 0;
            }
        }
        @include maxWidth($sm) {
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
    }
    @include maxWidth($xl) {
        width: unset;
        @include container-lg;
    }
    @include maxWidth($sm) {
        width: unset;
        @include container-sm;
    }
}
