.follow {
    padding-bottom: 90px;
    background: linear-gradient(#f6f7f8, #f6f7f8);
    &-title {
        text-align: center;
        margin-bottom: 40px;
        & > h5 {
            font-size: 14px;
            color: $blue-1;
        }
        & > h2 {
            font-size: 40px;
            color: $blue-2;
            @include maxWidth($sm) {
                font-size: 30px;
            }
        }
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: no-wrap;
        margin: 0 -15px;
        .card{
            width: 25%;
            padding: 0 15px;
            img{
                width: 100%;
                border-radius: 8px;
            }
            @include maxWidth($lg) {
                width: 45%;
                padding: 15px;
            }
            @include maxWidth($sm) {
                width: 100%;
            }
        }
        @include maxWidth($sm) {
            flex-wrap: wrap;
        }
        @include maxWidth($lg) {
            flex-wrap: wrap;
        }
    }
    @include maxWidth($xxl) {
        width: unset;
        @include container-lg;
    }
    @include maxWidth($xl) {
        width: unset;
        @include container-lg;
    }
    @include maxWidth($sm) {
        width: unset;
        @include container-sm;
    }
}
