.footer{
    padding: 120px 0px 60px;
    background-image: linear-gradient(#f6f7f8, #f6f7f8);
    color: $black-1;
    .us{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 60%;
        margin: auto;
        h4{
            color: $blue-2;
            font-family: $font-secondary;
            font-weight: 500;
            margin-bottom: 24px;
            font-size: 20px;
        }
        p{
            font-size: 15px;

        }
        .card , img {
            @include maxWidth(1500px){
                width: 33%;
                padding: 15px;
            }
            @include maxWidth($lg){
                width: 33%;
                padding: 15px;
            }
        }
        @include maxWidth($xxl){
            max-width: 80%;
        }
        @include maxWidth($lg){
            padding: 0;
            flex-wrap: wrap;
            @include container-lg;
            max-width: unset;
            margin: -15px;
            padding-bottom: 40px;
        }
    }
    .navigation{
        display: flex;
        padding: 3% 21% 0 36%;
        flex-wrap: wrap;

        .navigation-link, .navigation-service{
            width: 50%;
            border-bottom: 2px solid #E1EEFF;
            border-top: 2px solid #E1EEFF;
            padding: 40px 0;
            h4{
                color: $blue-2;
                font-family: $font-secondary;
                font-weight: 500;
                margin-bottom: 24px;
                font-size: 20px;
            }
            li{
                font-family: Inter;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.62;
                margin-bottom: 12px;
                padding: 0;
            }
            @include maxWidth($lg){
                width: 100%;
            }
        }
        .list{
            display: flex;
            flex-direction: column;
            height: 200px;
            flex-wrap: wrap;
        }
        @include maxWidth($xxl){
            padding-left: 31%;
            padding-right: 10%;
        }
        @include maxWidth($lg){
            padding: 0;
            flex-direction: column;
            @include container-lg;
            margin: 0;
        }
    }

    .copyright {
        padding: 3% 21% 0 36%;
        p{
            color: #828282;
            font-size: 14px;
            font-weight: 500;
        }
        @include maxWidth($xxl){
            padding-left: 31%;
            padding-right: 10%;
        }
        @include  maxWidth($lg){
            @include container-lg;
            margin: 0;
        }
        
    }
    @include maxWidth($lg){
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}