// Header

.header{
    background-color: $black-3;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo{
        width: 140px;
        height: 100%;
        position: relative;
        &>img{
            width: 100%;
            display: block;
        }
    }
    &-navbar{
        height: 100%;
        color: $white;
        &>ul{
            display: flex;
            height: 100%;
            align-items: center ;
            li{
                padding: 35px 12px;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-family: $font-secondary;
                    font-size: $size-14;
                    &:hover{
                        color: $blue-1;
                    }
                }

            }
        }
    }
    @include maxWidth(991.8px){
        justify-content: center;
        &-logo img{
            padding: 15px 0;
        }
        &-navbar{
            display: none;
        }
    }

}