
// Information

.information{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#1240A7, #1240A7);
    color: $white;
    padding-top: 12px;
    padding-bottom: 12px;

    // Contact
    &-contact{
        display: flex;

        &>li {
            padding: 0 12px;

            &:first-child{
                color: $orange;
            }
            @include maxWidth($sm){
                padding: 3px 0;
            }
        }
        @include maxWidth($sm){
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

    }
    // Time Work
    &-time{
        &>span{
            color: $orange;
        }
        @include maxWidth($sm){
            padding: 3px 0;
        }
    }

    //Responsive
    @include maxWidth($md){
        flex-direction: column;
    }
}