@mixin maxWidth($q) {
    @media screen and (max-width: $q) {
        @content;
    }
}
@mixin minWidth($q) {
    @media screen and (min-width: $q) {
        @content;
    }
}
@mixin container-lg {
        padding-right: 10%;
        padding-left: 10%;
        margin-right: auto;
        margin-left: auto;
}
@mixin container-sm{
    padding-right: 5% !important;
    padding-left: 5%  !important;
    margin-right: auto;
    margin-left: auto;
}
