.news {
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(#f6f7f8, #f6f7f8);
    &-title {
        text-align: center;
        margin-bottom: 40px;
        & > h5 {
            font-size: 14px;
            color: $blue-1;
        }
        & > h2 {
            font-size: 40px;
            color: $blue-2;
            @include maxWidth($lg){
                font-size: 30px;
            }
        }
    }
    &-content {
        display: flex;
        margin: 0 -15px;
        .card {
            width: 35%;
            padding: 0 15px;
            & > img {
                width: 100%;
                border-radius: 8px;
            }

            & > h3 {
                font-size: $size-22;
                color: $black-3;
                margin: 10px 0;
                font-family: $font-secondary;
            }
            & > p.date {
                font-family: $font-secondary;
                font-size: 14px;
                margin-bottom: 16px;
                color: #828282;
                font-weight: bold;
            }
            & > p {
                color: #4f4f4f;
                font-size: 16px;
            }
            @include maxWidth($lg){
                width: 45%;
                padding: 15px;
            }
            @include maxWidth($sm){
                width: 100%;
                padding: 15px;
            }
        }
        .card-call {
            width: 30%;
            background: radial-gradient(50% 50% at 50% 50%, #2054b8 43.23%, #1341a8 100%);
            padding: 52px 40px 120px 40px;
            border-radius: 8px 8px 0 0;
            position: relative;
            & > h5:first-child {
                font-size: 14px;
                color: $blue-1;
                margin-bottom: 4px;
            }
            & > h3 {
                margin: 0 0 28px 0;
                font-size: 22px;
                font-weight: 500;
                color: $white;
            }
            & > p {
                margin: 0 0 40px 0;
                color: rgba(255, 255, 255, 0.5);
                font-size: 16px;
            }
            & > h5.phone {
                font-size: $size-22;
                margin-bottom: 16px;
                font-family: $font-secondary;
                color: $white;
            }
            & > h2 {
                font-size: 36px;
                color: $orange;
                font-family: $font-secondary;
            }
            .call {
                padding: 20px 20px 20px 20px;
                background-image: linear-gradient(#f9b83b, #f9b83b);
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
                font-size: 15px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                i{
                    margin-right: 5px;
                }
            }
            @include maxWidth($lg){
                width: 100%;
                padding: 15px;
                padding-bottom: 90px;
                margin-top: 15px;
            }

        }
        @include maxWidth($lg){
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
    @include maxWidth($lg){
        padding: 60px 0;
        @include container-lg;
    }
    @include maxWidth($sm){
        padding: 60px 0;
        @include container-sm;
    }
}
