.promotion{
    padding: 84px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    &>h2{
        width: 65%;
        font-size: $size-40;
        font-family: $font-secondary;
        color: $blue-2;
        padding: 0 10px;
        text-align: left;
        font-weight: 500;
    }
    &>button{
        font-size: 14px;
        padding: 0 10px;
        padding: 14px 48px;
    }
}