.step{
    text-align: center;
    padding: 90px 0;
    background: linear-gradient(#f6f7f8, #f6f7f8);
    
    &_title{
        max-width: 500px;
        margin: auto;
        margin-bottom: 64px;

        &-name{
            color: $blue-1;
            margin-bottom: 8px;
            font-size: 14px;
        }

        &-ask{
            font-size: 40px;
            color: $blue-2;
            font-family: $font-secondary;
            font-weight: 500;
            @include maxWidth($lg){
                font-size: 30px;
            }
        }
        @include maxWidth($sm){
            padding: 0 10px;
            margin-bottom: 25px;
        }

    }

    &-tutorial{
        display: flex;
        padding: 0 20%;
        margin: 0 -34px;
        .card{
            margin-bottom: 32px ;
            padding: 0 34px;

            &-number{
                width: 60px;
                height: 60px;
                background-color: $orange;
                color: $black-1;
                line-height: 60px;
                font-weight: bold;
                margin: auto;
                border-radius: 50%;
                font-size: 18px;
                @include maxWidth($lg){
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                }
            }

            &>img{
                margin: 30px 0;
                @include maxWidth($sm){
                    margin: 0px 0;
                }
            }

            &-title{
                font-size: $size-22;
                color: $black-3;
                margin-bottom: 24px ;
                font-weight: bold;
                @include maxWidth($lg){
                    font-size: 18px;
                }
            }

            &>p{
               font-size: $size-16;
               color: $black-2;
               letter-spacing: 1px; 
               @include maxWidth($lg){
                font-size: 14px;
            }
            }
            @include maxWidth($lg){
                padding: 0 19px;
            }

        }
        @include maxWidth($sm){
            flex-direction: column;
        }

    }
    .btn-step{
        @include maxWidth($lg){
            font-size: 12px;
        }
    }
    @include maxWidth($lg){
        padding: 40px 0;
    }
}