// Font
$font-main: 'Inter', sans-serif;;
$font-secondary: 'Rubik', sans-serif;;

// Color
$white: #fff;
$black-1: #2d2d2d;
$black-2: #4F4F4F;
$black-3: #333;
$orange: #F9B83B;
$blue-1: #57A4FF;
$blue-2: #1240A7;
$gray: #6c757d;



// Size
$size-12: 12px;  
$size-14: 14px;  
$size-15: 15px;  
$size-16: 16px;  
$size-20: 20px;  
$size-22: 22px;  
$size-40: 40px;  
$size-72: 72px;  
