.work {
    background: radial-gradient(farthest-corner at 60% 50%, #2054b8 43.23%, #1341a8 100%);
    display: flex;

    &_content {
        width: 60%;
        padding-top: 143px;
        padding-bottom: 143px;
        padding-right: 10px;
        & > h2 {
            margin-bottom: 48px;
            font-size: $size-40;
            color: $white;
            font-weight: 500;
            letter-spacing: -1px;
            @include maxWidth($xl) {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
        & > p {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 48px;
            line-height: 32px;
        }
        .mission-success {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 -15px;
            .card {
                width: 33.3%;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: transparent;
                padding: 43px 11px;
                margin: 0 15px;
                text-align: center;
                & > h4 {
                    font-size: 32px;
                    color: $orange;
                    @include maxWidth($xxl) {
                        font-size: 25px;
                    }
                    @include maxWidth($xl) {
                        font-size: 19px;
                    }
                }
                & > strong {
                    font-size: 15px;
                    color: $white;
                    @include maxWidth($xxl) {
                        font-size: 13px;
                    }
                    @include maxWidth($xxl) {
                        font-size: 10px;
                    }
                }
                @include maxWidth($sm){
                    width: 100%;
                    margin: 4% 2%;
                }
            }
            @include maxWidth($sm){
                flex-direction: column;
            }
        }
        @include maxWidth($xxl) {
            @include container-lg
        }
        @include maxWidth($xl) {
            width: 80%;
            @include container-lg;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-right: 0;
            margin: 0;
        }
        @include maxWidth($sm) {
            @include container-sm;
            margin: 0;
        }
    }
    &_img {
        width: 71%;
        @include maxWidth($xl) {
            width: 50%;
        }
        @include maxWidth($lg) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        img{
            @include maxWidth($sm) {
                width: 100%;
            }
        }
    }
    @include maxWidth($lg) {
        flex-direction: column;
    }
}
