@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Inter", sans-serif;
  font-size: 12px; }

.font-main {
  font-family: "Inter", sans-serif; }

a {
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f4f4f4; }

li {
  list-style-type: none; }

.btn {
  font-family: "Rubik", sans-serif;
  padding: 14px 48px;
  color: #fff;
  background-color: #6c757d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn:hover {
    color: #f4f4f4; }

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#1240A7, #1240A7);
  color: #fff;
  padding: 12px 20%; }
  .information-contact {
    display: flex; }
    .information-contact > li {
      padding: 0 12px; }
      .information-contact > li:first-child {
        color: #F9B83B; }
  .information-time > span {
    color: #F9B83B; }
  @media screen and (max-width: 699px) {
    .information {
      flex-direction: column; } }

.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19%; }
  .header-logo {
    width: 140px;
    height: 100%;
    position: relative; }
    .header-logo > img {
      width: 100%;
      display: block; }
  .header-navbar {
    height: 100%;
    color: #fff; }
    .header-navbar > ul {
      display: flex;
      height: 100%;
      align-items: center; }
      .header-navbar > ul li {
        padding: 35px 12px;
        text-transform: uppercase; }
        .header-navbar > ul li a {
          text-decoration: none;
          font-weight: bold;
          font-family: "Rubik", sans-serif;
          font-size: 14px; }
          .header-navbar > ul li a:hover {
            color: #57A4FF; }
  @media screen and (max-width: 991.8px) {
    .header {
      justify-content: center; }
      .header-logo img {
        padding: 15px 0; }
      .header-navbar {
        display: none; } }

.banner {
  position: relative;
  background: url(../img/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 160px; }
  .banner-content {
    max-width: 555px;
    background: radial-gradient(50% 50% at 50% 50%, #2054B8 43.23%, #1341A8 100%);
    text-align: center;
    border-radius: 8px;
    padding: 60px;
    margin: 0; }
    .banner-content > p {
      color: #57A4FF;
      font-size: 15px; }
    .banner-content > h5 {
      font-family: "Rubik", sans-serif;
      font-size: 72px;
      color: #fff;
      margin: 35px 0; }

.features {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .features .card {
    width: 25%;
    text-align: center;
    padding: 96px 72px; }
    .features .card > img {
      margin-bottom: 40px; }
    .features .card > h4 {
      color: #1240A7;
      font-size: 22px;
      font-weight: 500;
      font-family: "Rubik", sans-serif;
      margin: 0 0 16px 0; }
    .features .card > p {
      font-size: 15px;
      color: #4F4F4F;
      margin-bottom: 40px; }
    .features .card:nth-child(2), .features .card:nth-child(4) {
      background: linear-gradient(#f6f7f8, #f6f7f8); }

.aboutus {
  display: flex; }
  .aboutus-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 center; }
  .aboutus-container {
    width: 53%;
    background: radial-gradient(farthest-corner at 60% 50%, #2054b8 43.23%, #1341a8 100%);
    color: #fff;
    padding: 160px 170px; }
    .aboutus-container .content {
      max-width: 500px; }
      .aboutus-container .content > h6 {
        font-size: 14px;
        color: #57A4FF;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase; }
      .aboutus-container .content > h3 {
        font-size: 40px; }
      .aboutus-container .content > p {
        font-size: 20px; }
      .aboutus-container .content > h6,
      .aboutus-container .content h3,
      .aboutus-container .content p {
        margin-bottom: 30px;
        font-family: "Rubik", sans-serif; }
      .aboutus-container .content .award {
        display: flex;
        align-items: center; }
        .aboutus-container .content .award-card {
          padding: 0 15px; }
          .aboutus-container .content .award-card > p {
            font-size: 16px;
            padding: 20px 0;
            font-weight: bold; }
      .aboutus-container .content .btn-moreAbout {
        background-color: #fff;
        color: #2d2d2d; }

.step {
  text-align: center;
  padding: 90px 0;
  background: linear-gradient(#f6f7f8, #f6f7f8); }
  .step_title {
    max-width: 500px;
    margin: auto;
    margin-bottom: 64px; }
    .step_title-name {
      color: #57A4FF;
      margin-bottom: 8px; }
    .step_title-ask {
      font-size: 40px;
      color: #1240A7;
      font-family: "Rubik", sans-serif;
      font-weight: 500; }
  .step-tutorial {
    display: flex;
    max-width: 80%;
    margin: auto; }
    .step-tutorial .card {
      margin-bottom: 32px;
      padding: 0 34px; }
      .step-tutorial .card-number {
        width: 60px;
        height: 60px;
        background-color: #F9B83B;
        color: #2d2d2d;
        line-height: 60px;
        font-weight: bold;
        margin: auto;
        border-radius: 50%;
        font-size: 18px; }
      .step-tutorial .card > img {
        margin: 30px 0; }
      .step-tutorial .card-title {
        font-size: 22px;
        color: #333;
        margin-bottom: 24px;
        font-weight: bold; }
      .step-tutorial .card > p {
        font-size: 16px;
        color: #4F4F4F;
        letter-spacing: 1px; }

.mission {
  display: flex; }
  .mission_content {
    width: 60%;
    padding: 114px 235px 160px;
    background: linear-gradient(rgba(225, 238, 255, 0.2), rgba(225, 238, 255, 0.2)); }
    .mission_content > h5 {
      font-size: 14px;
      font-family: "Rubik", sans-serif;
      color: #57A4FF; }
    .mission_content > h3 {
      font-size: 40px;
      font-family: "Rubik", sans-serif;
      margin-bottom: 48px;
      color: #1240A7; }
    .mission_content > p {
      font-size: 20px;
      color: #4F4F4F;
      margin-bottom: 48px;
      font-weight: 400;
      line-height: 32px; }
    .mission_content > ul li {
      font-size: 18px;
      color: #333;
      margin-bottom: 16px;
      padding: 0 8px; }
  .mission_img {
    width: 48%;
    background-image: url(../img/img-3.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center center; }

.service {
  background: linear-gradient(#f6f7f8, #f6f7f8); }
  .service .title {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 64px 0; }
    .service .title > h5 {
      font-size: 14px;
      color: #57A4FF; }
    .service .title > h3 {
      font-size: 40px;
      color: #1240A7; }
  .service .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
    align-items: center; }
    .service .list .card {
      width: 40%;
      display: flex;
      justify-content: space-around;
      background: linear-gradient(#f6f7f8, #f6f7f8);
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #57A4FF;
      margin: 15px; }
      .service .list .card .description > h4 {
        color: #333;
        font-size: 22px;
        margin-bottom: 10px; }
      .service .list .card .description > p {
        color: #4f4f4f;
        background-color: #ececec;
        padding: 5px 12px; }

.comment {
  background: linear-gradient(#f6f7f8, #f6f7f8);
  text-align: center;
  padding: 90px 0; }
  .comment > img:first-child {
    width: 30px;
    margin-bottom: 48px; }
  .comment > p {
    max-width: 700px;
    color: #1240a7;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 48px; }
  .comment img.author {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: 50% 100%;
    border-radius: 50%;
    margin-bottom: 16px; }
  .comment > h5 {
    color: #57A4FF;
    font-size: 14px;
    margin-bottom: 16px; }

.work {
  background: radial-gradient(farthest-corner at 60% 50%, #2054B8 43.23%, #1341A8 100%);
  display: flex; }
  .work_content {
    width: 60%;
    padding: 143px 150px; }
    .work_content > h2 {
      margin-bottom: 48px;
      font-size: 40px;
      color: #fff;
      font-weight: 500;
      letter-spacing: -1px; }
    .work_content > p {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 48px;
      line-height: 32px; }
    .work_content .mission-success {
      display: flex;
      justify-content: center;
      align-items: center; }
      .work_content .mission-success .card {
        width: 33.3%;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: transparent;
        padding: 43px 11px;
        margin: 0 15px;
        text-align: center; }
        .work_content .mission-success .card > h4 {
          font-size: 36px;
          color: #F9B83B; }
        .work_content .mission-success .card > strong {
          font-size: 15px;
          color: #fff; }
  .work_img {
    width: 71%;
    background-image: url(../img/her.png);
    background-repeat: no-repeat; }

.news {
  padding: 120px 0px 90px; }
  .news-title {
    text-align: center;
    margin-bottom: 40px; }
    .news-title > h5 {
      font-size: 14px;
      color: #57A4FF; }
    .news-title > h2 {
      font-size: 40px;
      color: #1240A7; }
  .news-content {
    display: flex;
    padding: 0 10%; }
    .news-content .card {
      width: 35%;
      padding: 0 15px; }
      .news-content .card > img {
        width: 100%;
        border-radius: 8px; }
      .news-content .card > h3 {
        font-size: 22px;
        color: #333;
        margin: 10px 0;
        font-family: "Rubik", sans-serif; }
      .news-content .card > p.date {
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        margin-bottom: 16px;
        color: #828282;
        font-weight: bold; }
      .news-content .card > p {
        color: #4f4f4f;
        font-size: 16px; }
    .news-content .card-call {
      width: 30%;
      background: radial-gradient(50% 50% at 50% 50%, #2054b8 43.23%, #1341a8 100%);
      padding: 52px 40px 120px 40px;
      border-radius: 8px 8px 0 0;
      position: relative; }
      .news-content .card-call > h5:first-child {
        font-size: 14px;
        color: #57A4FF;
        margin-bottom: 4px; }
      .news-content .card-call > h3 {
        margin: 0 0 28px 0;
        font-size: 22px;
        font-weight: 500;
        color: #fff; }
      .news-content .card-call > p {
        margin: 0 0 40px 0;
        color: rgba(255, 255, 255, 0.5); }
      .news-content .card-call > h5.phone {
        font-size: 22px;
        margin-bottom: 16px;
        font-family: "Rubik", sans-serif;
        color: #fff; }
      .news-content .card-call > h2 {
        font-size: 36px;
        color: #F9B83B;
        font-family: "Rubik", sans-serif; }
      .news-content .card-call .call {
        padding: 20px 20px 20px 20px;
        background-image: linear-gradient(#f9b83b, #f9b83b);
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; }

.follow {
  padding: 0px 0px 90px; }
  .follow-title {
    text-align: center;
    margin-bottom: 40px; }
    .follow-title > h5 {
      font-size: 14px;
      color: #57A4FF; }
    .follow-title > h2 {
      font-size: 40px;
      color: #1240A7; }
  .follow-content {
    display: flex;
    padding: 0 12%;
    justify-content: center;
    align-items: center; }
    .follow-content img {
      width: 100%;
      padding: 0 15px;
      border-radius: 8px; }

/*# sourceMappingURL=app.css.map */
